*, :before, :after {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html, body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: #F7C603;
  /* font-family: 'Monoton', cursive; */
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  background-color: white;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: grey;
}

.power-pellet {
  background-color: green;
  border-radius: 7.5px;
}

.pacman {
  content: url("images/pacman.png");
  background-color: white;
  border: none;
}

.blinky {
  content: url("images/blinky.png");
  background-color: white;
  border: none;
}

.pinky {
  content: url("images/pinky.png");
  background-color: white;
  border: none;
}

.inky {
  content: url("images/inky.png");
  background-color: white;
  border: none;
}

.clyde {
  content: url("images/clyde.png");
  background-color: white;
  border: none;
}

.scared-ghost {
  content: url("images/scared-ghost.png");
  background-color: white;
  border: none;
}
